/*--------------------------------------CSS RESET START--------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*--------------------------------------CSS RESET END--------------------------------------------------*/
/*--------------------------------------FONT SETUP START--------------------------------------------------*/
@font-face {
  font-family: 'Pokemon Solid';
  src: url('fonts/PokemonSolidNormal.eot');
  src: url('fonts/PokemonSolidNormal.eot?#iefix') format('embedded-opentype'),
      url('fonts/PokemonSolidNormal.woff2') format('woff2'),
      url('fonts/PokemonSolidNormal.woff') format('woff'),
      url('fonts/PokemonSolidNormal.ttf') format('truetype'),
      url('fonts/PokemonSolidNormal.svg#PokemonSolidNormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pokemon Hollow';
  src: url('fonts/PokemonHollowNormal.eot');
  src: url('fonts/PokemonHollowNormal.eot?#iefix') format('embedded-opentype'),
      url('fonts/PokemonHollowNormal.woff2') format('woff2'),
      url('fonts/PokemonHollowNormal.woff') format('woff'),
      url('fonts/PokemonHollowNormal.ttf') format('truetype'),
      url('fonts/PokemonHollowNormal.svg#PokemonHollowNormal') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*--------------------------------------FONT SETUP END--------------------------------------------------*/
/*--------------------------------------BODY START--------------------------------------------------*/


.App {
  text-align: center;
  background-color:black;
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 10fr;
  grid-area: center;
  padding-bottom: 14.3%;
}




.App-logo{
  max-width: 803px;
  max-height: 600px;
  grid-row-start: 2;
  grid-row-end:3;
  grid-column-start: 2;
  grid-column-end: 3;
 

}

.Name{
  font-family: 'Pokemon Solid';
  font-weight: normal;
  font-style: normal;
  grid-row-start: 2;
  grid-row-end:3;
  grid-column-start: 2;
  grid-column-end: 3;
  color:black;

}
.Weight{

  grid-row-start: 2;
  grid-row-end:3;
  grid-column-start: 2;
  grid-column-end: 3;
  color:black;
}
.Img{

  grid-row-start: 2;
  grid-row-end:3;
  grid-column-start: 2;
	grid-column-end: 3;
}

h1{

  grid-row-start: 1;
	grid-row-end:2;
  font-family: 'Pokemon Solid';
  font-weight: normal;
  font-style: normal;
  color:red;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top:10px;
}

.button {
  grid-row-start: 2;
  grid-row-end:3;
  grid-column-start: 2;
  grid-column-end: 3;
  border-radius: 20px;
	background-color: #e2574c;
	color:#FFFFFF;
	height: 3em;
	width: 6em;
  border: 0px solid;
  z-index: 1;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:1em;
  margin-left:1em;
  font-family: 'Pokemon Hollow';
  font-weight: normal;
  font-style: normal;

}

.infoContainer{
  grid-row-start: 2;
  grid-row-end:3;
  grid-column-start: 2;
  grid-column-end: 3;
  color:black;
  margin-top:5em;
  font-family: 'Pokemon Solid';
  font-weight: normal;
  font-style: normal;
  margin-top:20%;


}
/*--------------------------------------BODY END--------------------------------------------------*/
